<launch>
  <arg name="bd_list" default="000000000000000" />
  <include file="$(find bringup)/launch/msg_MID360s.launch">
    <arg name="xfer_format" value="0" />
    <arg name="bd_list" value="$(arg bd_list)" />
  </include>
  <include file="$(find bringup)/launch/mapping_mid360_reloc.launch" />
  <rosparam command="load" file="$(find bringup)/config/initial_align.yaml" />
  <param name="wxx/initial_align/Init_Body_pos_x" type="double" value="0.0" />
  <param name="wxx/initial_align/Init_Body_pos_y" type="double" value="0.0" />
  <param name="wxx/initial_align/Init_Body_pos_z" type="double" value="0.0" />
  <node pkg="fast_lio" type="initial_align" name="initial_align" output="screen" />
</launch>
