<launch>
  <arg name="imu_src" default="mavros" doc="livox or mavros" />
  <rosparam command="load" file="$(find bringup)/config/c5v1_fastlio_mid360_config.yaml" />
  <rosparam command="load" file="$(find bringup)/config/imu_$(arg imu_src).yaml" />
  <rosparam command="load" file="$(find bringup)/config/anomaly_detection.yaml" />

  <!-- Override: enable prior map loading for relocalization -->
  <param name="map/load_from_pcd" type="bool" value="true" />

  <param name="init_imu_pos_x" type="double" value="0"/>
  <param name="init_imu_pos_y" type="double" value="0"/>
  <param name="init_imu_pos_z" type="double" value="0"/>

  <param name="feature_extract_enable" type="bool" value="0"/>
  <param name="point_filter_num" type="int" value="6"/>
  <param name="max_icp_times" type="int" value="2" />
  <param name="max_iteration" type="int" value="4" />
  <param name="filter_size_surf" type="double" value="0.2" />
  <param name="filter_size_map" type="double" value="0.2" />
  <param name="cube_side_length" type="double" value="1000" />
  <param name="runtime_pos_log_enable" type="bool" value="0" />

  <!-- Prior local cloud for visualization -->
  <param name="prior_local/enable"        type="bool"   value="true" />
  <param name="prior_local/radius"        type="double" value="5.0" />
  <param name="prior_local/motion_check"  type="bool"   value="false" />
  <param name="prior_local/motion_threshold" type="double" value="0.5" />
  <param name="prior_local/leaf_size"          type="double" value="0.1" />
  <param name="prior_local/generation_hz"        type="double" value="2.0" />

  <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" />
  <node pkg="fast_lio" type="cpu_monitor" name="cpu_monitor" output="screen" />
</launch>
