<launch>
  <arg name="bd_list" default="000000000000000" />
  <arg name="imu_src" default="mavros" doc="livox or mavros" />
  <include file="$(find bringup)/launch/c5v1_livox.launch">
    <arg name="bd_list" value="$(arg bd_list)" />
  </include>
  <include file="$(find bringup)/launch/c5v1_mapping.launch">
    <arg name="imu_src" value="$(arg imu_src)" />
  </include>
</launch>
