<launch>
  <arg name="bd_list" default="000000000000000" />
  <arg name="imu_src" default="mavros" doc="livox or mavros" />
  <include file="$(find bringup)/launch/c5v1_livox.launch">
    <arg name="bd_list" value="$(arg bd_list)" />
  </include>
  <include file="$(find bringup)/launch/c5v1_mapping_reloc.launch">
    <arg name="imu_src" value="$(arg imu_src)" />
  </include>
  <rosparam command="load" file="$(find bringup)/config/initial_align.yaml" />
  <param name="initial_align/Init_Body_pos_x" type="double" value="0.0" />
  <param name="initial_align/Init_Body_pos_y" type="double" value="0.0" />
  <param name="initial_align/Init_Body_pos_z" type="double" value="0.0" />
  <node pkg="fast_lio" type="initial_align" name="initial_align" output="screen" />
</launch>
