<launch>
  <arg name="hardware"   default="c5v1"  doc="c5v1 (mid360) or c5pro (mid360s)"/>
  <arg name="imu_src"    default="mavros" doc="livox or mavros"/>
  <arg name="use_mavros" default="true"  doc="start MAVROS (auto: true for mavros)"/>

  <include file="$(find bringup)/launch/smoke_l2_slam.launch">
    <arg name="hardware"   value="$(arg hardware)"/>
    <arg name="imu_src"    value="$(arg imu_src)"/>
    <arg name="use_mavros" value="$(arg use_mavros)"/>
  </include>

  <rosparam command="load" file="$(find bringup)/config/overlay_fov.yaml"/>
</launch>
