<launch>
  <arg name="hardware"   default="c5v1"  doc="c5v1 (mid360) or c5pro (mid360s)"/>
  <arg name="imu_src"    default="mavros" doc="livox or mavros"/>
  <arg name="use_mavros" default="true"  doc="start MAVROS (auto: true for mavros)"/>
  <arg name="fcu_url"    default="/dev/ttyTHS0:921600" doc="MAVROS FCU serial device"/>

  <include file="$(find bringup)/launch/$(arg hardware)_livox.launch">
    <arg name="xfer_format" value="1"/>
  </include>

  <include if="$(arg use_mavros)" file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
  </include>
</launch>
